.WeatherInfoMain {
  display: flex;
  justify-content: space-evenly;
}

.TempDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.TempDisplay p:nth-of-type(1) {
  font-size: 36px;
  margin: auto;
}

.TempDisplay p {
  margin: 0;
}